<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pricing table UI design</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="{{ url_for('static', filename='./css/rstyle.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<h2 class="big-heading">{{recipe_name}}</h2>
<div class="table">
  <h2 class="heading">
    Recipe Puppy
  </h2>
  {% for food in food_list %}
  <div class="block">
  <p>{{food['title']}} 
    <ul class="options">
      <li style="font-size:medium;">ingredients:</li>
      <li>{{food['ingredients']}}</li>
      <br>
      <img src="{{food['thumbnail']}}" width="200">
    </ul>
 </p>
 <a href="{{food['href']}}" target="_blank"><button class="btn">
  <p>Detailed Recipe</p>
  <span class="fa fa-cart-plus" aria-hidden="true"></span>
</button></a>
</div>
{% endfor %}
</div>

<div class="table">
  <h2 class="heading">
    office cleaning
  </h2>
  <div class="block">
  <p>once a week
    <span class="price">$270/
      <sub>hour</sub>
    </span>   
    <ul class="options">
      <li>( 4 Sessions - 3 hrs per Session )</li>
    </ul>
 </p>
</div>
<div class="block">
<p>twice a week
    <span class="price">$574/
      <sub>hour</sub>
    </span>   
    <ul class="options">
      <li>( 8 Sessions - 3 hrs per Session )</li>
    </ul>
 </p>
</div>
<div class="block">
<p>thrice a week
    <span class="price">$670/
      <sub>hour</sub>
    </span>   
    <ul class="options">
      <li>( 12 Sessions - 3 hrs per Session )</li>
    </ul>
 </p>
</div>
<div class="block">
<p>mon - fri daily
    <span class="price">$990/
      <sub>hour</sub>
    </span>   
    <ul class="options">
      <li>( 20 Sessions - 2 hrs per Session )</li>
    </ul>
 </p>
</div>
<button class="btn">
  <p>book your order now</p>
  <span class="fa fa-cart-plus" aria-hidden="true"></span>
</button>
</div>

<div class="table">
  <h2 class="heading">
    commercial cleaning
  </h2>
  <div class="block">
  <p>kitchen and bedrooms 
    <span class="price">$28/
      <sub>hour</sub>
    </span>   
    <ul class="options">
      <li>wipe cabinets</li>
      <li>wipe tops</li>
      <li>dust tops of cabinets</li>
    </ul>
 </p>
</div>
<div class="block">
<p>bathroom
    <span class="price">$29/
      <sub>hour</sub>
    </span>   
    <ul class="options">
      <li>dust counters</li>
      <li>dust light</li>
      <li>wipe countertops</li>
    </ul>
 </p>
</div>
<div class="block">
<p>living room
    <span class="price">$29/
      <sub>hour</sub>
    </span>   
    <ul class="options">
      <li>make beds</li>
      <li>dust furniture</li>
      <li>dust mini-blinds</li>
    </ul>
 </p>
</div>
<button class="btn">
  <p>book your order now</p>
  <span class="fa fa-cart-plus" aria-hidden="true"></span>
</button>
</div>

<h4>Food Recipes</h4>
<!-- partial -->
  
</body>
</html>
