 <!DOCTYPE html>
<html>
<title>Contact Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" type="image/png" href="../static/images/ninjalogo2.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!--<link href="../static/css/main.css" rel="stylesheet" />-->

<body style="background-position: center;background-size: cover; background-image: url('../static/images/contact_background.jpg');">
		<div class="w3-top">
		  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
		    <a href="index" class="w3-bar-item w3-button">Food Ninja</a>
		    <!-- Right-sided navbar links. Hide them on small screens -->
		    <div class="w3-right w3-hide-small">
		    	<a href="index" class="w3-bar-item w3-button">Home</a>
		      <a href="about" class="w3-bar-item w3-button">About</a>
		      <!--<a href="#menu" class="w3-bar-item w3-button">Menu</a>-->
		      <a href="contact" class="w3-bar-item w3-button">Contact</a>
		    </div>
		  </div>
		</div>


		<!-- Page content -->
		<div class="w3-content w3-padding" style="max-width:800px; margin-top: 140px;">

		  <!-- Contact Section -->
			<form action="contact" class="w3-container w3-card-4 w3-light-grey w3-text-green w3-margin">
				<h2 class="w3-center">Contact Us</h2>
				 
				<div class="w3-row w3-section">
				  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
				  <div class="w3-rest">
				    <input class="w3-input w3-border" name="first" type="text" placeholder="First Name" required name="First">
				  </div>
				</div>

				<div class="w3-row w3-section">
				  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
				  <div class="w3-rest">
				    <input class="w3-input w3-border" name="last" type="text" placeholder="Last Name" required name="Last">
				  </div>
				</div>

				<div class="w3-row w3-section">
				  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
				  <div class="w3-rest">
				    <input class="w3-input w3-border" name="email" type="text" placeholder="Email" required name="Email">
				  </div>
				</div>

				<div class="w3-row w3-section">
				  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
				  <div class="w3-rest">
				    <input class="w3-input w3-border" name="phone" type="text" placeholder="Phone" required name="Phone">
				  </div>
				</div>

				<div class="w3-row w3-section">
				  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
				  <div class="w3-rest">
				    <input class="w3-input w3-border" name="comment" type="text" placeholder="Comment" required name="Comment">
				  </div>
				</div>

				<button class="w3-button w3-green w3-section"> 
		    	<i class="fa fa-paper-plane"></i> SEND MESSAGE
				</button>


			</form>


		<!-- End page content -->
		</div>


</body>
</html>
